<p id="notice"></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>
<a href="<%= edit_book_path(@book.id) %>">Edit</a> | <a href="<%= books_path %>">Back</a>

